<div class="row notes">
  <% @notes.each do |note| %>
  <div class="note">
    <div class="well well-sm" style="background-color: <%= note.color %>">
      <h4>
        <strong><%= note.title %></strong>
      </h4>
      <p><%= simple_format note.body %></p>
    </div>
  </div>
  <% end %>
</div>
